.dashboard-nav{
    border: 1px solid var(--bs-gray-100);
    box-shadow: 0 8px 40px rgba(0, 0, 0, .08);
    border-radius: 4px;
    padding: 16px 0;
    background: #fff;
    margin-right: 12px;
}
.dashboard-nav ul li a{
    transition: 0.3s;
    color: var(--bs-gray-600);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 24px;
    background: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
}
.dashboard-nav ul li.active a{
    background: var(--bs-primary-500);
    color: white;
}
.dashboard-nav ul li:hover a{
    background: var(--bs-gray-100);
    color: var(--bs-gray-900);
}
 